<p>sheep-edit works!</p>
{{ AnimalInfo | json}}
<form class="example-form" [formGroup]="form" (ngSubmit)="Submit($event)" >
<mat-tab-group>
  <mat-tab label="Паспорт"> <app-passport [parentFormGroup]="form" [animal]="AnimalInfo"></app-passport> </mat-tab>
  <mat-tab label="Развитие"> <app-evolution [animal]="AnimalInfo"></app-evolution></mat-tab>
  <mat-tab label="Генеалогия"> Content 3 </mat-tab>
  <mat-tab label="События"> Cобытия </mat-tab>
</mat-tab-group>

<ng-template #test>123</ng-template>


<div class="text-center">
  <button type="submit" class="btn btn-primary justify-content-center mt-2" >
    Сохранить
  </button>
</div>
</form>
