<!--<button class="btn btn-info" routerLink="/animals/sheep/">Назад</button>-->
<mat-dialog-actions >
  <button mat-dialog-close class="btn btn-info">Отмена</button>

</mat-dialog-actions>
<div class="alert alert-danger ml-2 mt-1" role="alert" *ngIf="errorMsg; else mainForm">
  Что-то пошло не так....
</div>
<ng-template #mainForm><h2 class="text-center">Редактор животного</h2>
<form class="example-form" [formGroup]="form" (ngSubmit)="Submit($event)" >
<mat-tab-group>
  <mat-tab label="Паспорт животного"> <app-passport [parentFormGroup]="form" [animal]="AnimalInfo"></app-passport> </mat-tab>
  <mat-tab label="Продуктивность"> <app-evolution [id]="data.id"></app-evolution></mat-tab>
  <mat-tab label="Предки"> <app-genealogy [animal]="AnimalInfo" (updatedFatherValue)="this.form.patchValue({father:$event})"
                                              (updatedMotherValue)="this.form.patchValue({mother:$event})"
                                              [parentFormGroup]="form"></app-genealogy>  </mat-tab>
<!--  <mat-tab label="События"> Cобытия </mat-tab>-->
</mat-tab-group>

<div class="text-center">
  <button type="submit" class="btn btn-primary justify-content-center mt-2" [disabled]="pending || form.invalid"  mat-dialog-close="true">Сохранить</button>
</div>

</form>
</ng-template>

