<mat-toolbar  color="primary" >
  <div>
    <button (click)="toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button (click)="RedirectToMain($event)">ИАС Овцы</button>
  </div>
  <div class="spacer"></div>
  <button class="" mat-button routerLink="/auth/login" routerLinkActive="active-button" *ngIf="!authService.isAuth()">
    <mat-icon fontSet="material-icons">login</mat-icon>
    Login
  </button>
  <button class="" mat-button routerLink="/auth/register" routerLinkActive="active-button" *ngIf="!authService.isAuth()">
    <mat-icon fontSet="material-icons">login</mat-icon>
    Register
  </button>

  <button class="" mat-button *ngIf="authService.isAuth()" (click)="authService.Logout()">
    <mat-icon fontSet="material-icons">logout</mat-icon>
    Logout
  </button>

  <button class="" mat-button routerLink="/about" routerLinkActive="active-button">
    <mat-icon fontSet="material-icons-outlined">help</mat-icon>
    Help
  </button>
</mat-toolbar>

