mat-toolbar{
  position: sticky !important;
  min-height: 50px !important; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

mat-toolbar div span {
  position: absolute;               /* 2 */
  top: 50%;                         /* 3 */
  transform: translate(0, -50%)
}
.spacer {
flex: 1 1 auto;
}

