<h2 class="text-center">Страница событий</h2>

<mat-form-field appearance="fill" class=" not-block" style="margin-top: 10px">
  <mat-label [ngStyle]="{ color: 'blue'}">Выбрать событие</mat-label>
  <mat-select [(ngModel)]="frame">
    <mat-option *ngFor="let event of eventTypes" [value]="event.type">
      {{event.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<button mat-raised-button color="accent" class="ml-1" (click)="resetAll()"
        style="top: -7px !important; left: 20px; position: relative !important;"
  [disabled]="id === ''"
> Новое событие
  <mat-icon [fontSet]="'material-icons-outlined'" class="">add</mat-icon>
</button>

<ng-template #loading>
  <div class="text-center">Загружаем</div>
  <mat-progress-bar class="mt-3" mode="indeterminate"></mat-progress-bar>
</ng-template>

<ng-template #weighting> <!--Взвешивание-->
  <form [formGroup]="form" (ngSubmit)="SubmitData()">
    <div formGroupName="взвешивание">
      <mat-form-field appearance="fill" class="text-center center">
        <mat-label>Дата взвешивания</mat-label>
        <input matInput required [matDatepicker]="dateOfWeighting" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="dateOfWeighting"></mat-datepicker-toggle>
        <mat-datepicker #dateOfWeighting></mat-datepicker>
        <mat-hint red-hint *ngIf="form.get('взвешивание').hasError('required')">
          Обязательно
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill" class="text-center center">
        <mat-label>Живая масса</mat-label>
        <span matPrefix>кг</span>
        <input type="number"  required matInput placeholder="0" formControlName="weight">
        <mat-hint red-hint *ngIf="form.get('взвешивание').hasError('required')">
          Обязательно
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill" class="text-center center">
        <mat-label>Комментарий</mat-label>
        <input matInput placeholder="-" formControlName="text">
      </mat-form-field>

      <button mat-raised-button type="submit" color="accent" class="center mt-3" *ngIf="!pendingSave; else loading"
              [disabled]="form.get('взвешивание').invalid">Сохранить
      </button>
    </div>
  </form>

</ng-template>



<ng-template #shearing> <!--Стрижка-->
  <form [formGroup]="form" (ngSubmit)="SubmitData()">
    <div formGroupName="стрижка">
      <mat-form-field appearance="fill" class="text-center center">
        <mat-label>Дата стрижки</mat-label>
        <input matInput required [matDatepicker]="dateOfWeighting" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="dateOfWeighting"></mat-datepicker-toggle>
        <mat-datepicker #dateOfWeighting></mat-datepicker>
        <mat-hint red-hint *ngIf="form.get('стрижка').hasError('required')">
          Обязательно
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill" class="text-center center">
        <mat-label>Масса немытой шерсти</mat-label>
        <span matPrefix>кг</span>
        <input type="number" required matInput placeholder="0" formControlName="weightDirt">
      </mat-form-field>

      <mat-form-field appearance="fill" class="text-center center">
        <mat-label>Масса мытой шерсти</mat-label>
        <span matPrefix>кг</span>
        <input type="number" required matInput placeholder="0" formControlName="weightClean">
      </mat-form-field>

      <mat-form-field appearance="fill" class="text-center center">
        <mat-label>Тонина шерсти</mat-label>
        <span matPrefix>мк</span>
        <input type="number"  required matInput placeholder="0" formControlName="woolWidth">
        <mat-hint red-hint *ngIf="form.value['стрижка'].woolWidth > 99">
          Кажется, значение тонины шерсти неверное
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill" class="text-center center">
        <mat-label>Комментарий</mat-label>
        <input matInput  placeholder="-" formControlName="text">
      </mat-form-field>

      <button mat-raised-button type="submit" color="accent" class="center mt-3" *ngIf="!pendingSave; else loading"
              [disabled]="form.get('стрижка').invalid">Сохранить
      </button>
    </div>
  </form>

</ng-template>




<ng-template #appraisal> <!--Бонитировка-->
  <div class="example-button-row ml-2">
    <button mat-raised-button> Basic</button>
    <button mat-raised-button color="primary"> Primary
      <mat-icon [fontSet]="'material-icons-outlined'" class="">analytics</mat-icon>
    </button>
    <button mat-raised-button color="accent">Accent
      <mat-icon [fontSet]="'material-icons-outlined'" class="">analytics</mat-icon>
    </button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</ng-template>

<mat-card >
  <mat-card-title>Данные {{id === '' && ' нового ' || ''}} события {{id !== '' && ('id ' + id) || ''}}</mat-card-title>
  <mat-card-content>

    <div *ngIf="pendingLoadingId; else contentView">
      <div class="text-center">Загружаем запись...</div>
      <mat-progress-bar class="mt-3" mode="indeterminate"></mat-progress-bar>
    </div>

    <ng-template #contentView>
    <button mat-raised-button color="primary" class="ml-1" (click)="openDialog()"> Выбрать животных
      <mat-icon [fontSet]="'material-icons-outlined'" class="">add</mat-icon>
    </button>

    {{animals?.length || 0}} животных выбрано
    <div [ngSwitch]="frame">
      <ng-template [ngSwitchCase]="'бонитировка'">
        <ng-container [ngTemplateOutlet]="appraisal"></ng-container>
      </ng-template>
      <ng-template [ngSwitchCase]="'взвешивание'">
        <ng-container [ngTemplateOutlet]="weighting"></ng-container>
      </ng-template>
      <ng-template [ngSwitchCase]="'стрижка'">
        <ng-container [ngTemplateOutlet]="shearing"></ng-container>
      </ng-template>
      <ng-template [ngSwitchCase]="'south'">
        <ng-container [ngTemplateOutlet]="appraisal"></ng-container>
      </ng-template>
      <ng-template ngSwitchDefault></ng-template>
    </div>
    </ng-template>
  </mat-card-content>
</mat-card>


<!--<ng-container *ngTemplateOutlet="chaban"></ng-container>-->

<h3 class="text-center mt-5 font-weight-bold"> События</h3>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-2">


  <ng-container matColumnDef="1">
    <th mat-header-cell *matHeaderCellDef> Дата события</th>
    <td mat-cell *matCellDef="let element"> {{element.eventData.date | date:'short' || "-"}} </td>
  </ng-container>

  <ng-container matColumnDef="2">
    <th mat-header-cell *matHeaderCellDef> Событие</th>
    <td mat-cell *matCellDef="let element"> {{element.eventName}} </td>
  </ng-container>

  <ng-container matColumnDef="3">
    <th mat-header-cell *matHeaderCellDef> Кол-во животных</th>
    <td mat-cell *matCellDef="let element"> {{element.animals.length}} </td>
  </ng-container>

  <ng-container matColumnDef="4">
    <th mat-header-cell *matHeaderCellDef> Действия</th>
    <td mat-cell *matCellDef="let element">
      <button mat-button class="" [ngStyle]="{backgroundColor:'#09a9ff', color: 'white'}"
              (click)="loadEventData(element.id)">Ред. данные
      </button>
      <button mat-button class="ml-2" [ngStyle]="{backgroundColor:'#d0282e', color: 'white'}" (click)="removeEvent(element.id)">Удалить</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="pages"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 15, 25]"
               (page)="updatePageData($event)">
  <button mat-button>Click</button>
</mat-paginator>
