<mat-grid-list class="mt-3" cols="10" rowHeight="18px">
  <mat-grid-tile colspan="1" rowspan="2"></mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="2"><h2>Сведения о рождении</h2></mat-grid-tile>
  <mat-grid-tile colspan="4" rowspan="2"></mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="2"><h2>Масть</h2></mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="5" rowHeight="40px">
  <mat-grid-tile colspan="1" rowspan="2">
    <mat-form-field appearance="fill" [formGroup]="ParentFormGroup">
      <mat-label>Дата рождения</mat-label>
      <input required  matInput [matDatepicker]="birthday" formControlName="birthday">
      <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
      <mat-datepicker #birthday></mat-datepicker>
      <mat-error *ngIf="ParentFormGroup.get('birthday').errors?.required">
        Обязательно
      </mat-error>
    </mat-form-field>
  </mat-grid-tile>


  <mat-grid-tile colspan="1" rowspan="2">
    <mat-form-field appearance="fill" style="width: 60%" [formGroup]="ParentFormGroup">
      <mat-label>Поколение</mat-label>
      <mat-select required formControlName="generation" >
        <mat-option>--</mat-option>
        <mat-option *ngFor="let breed of Generation" [value]="breed">
          {{breed}}
        </mat-option>
      </mat-select>
      <mat-hint style="color: red;" *ngIf="ParentFormGroup.get('generation').errors?.required">
        Обязательно
      </mat-hint>
    </mat-form-field>
  </mat-grid-tile>


  <mat-grid-tile colspan="1" rowspan="2"></mat-grid-tile>

  <mat-grid-tile colspan="2" rowspan="2">
    <mat-form-field appearance="fill" style="width: 60%" [formGroup]="ParentFormGroup">
      <mat-label>Окраска шерстяного покрова</mat-label>
      <mat-select  formControlName="colorPrimary" >
        <mat-option>--</mat-option>
        <mat-option *ngFor="let color of colorsOfWool" [value]="color">
          {{color}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="2">

    <mat-form-field appearance="fill" [formGroup]="ParentFormGroup">
      <mat-label>Дата поступления</mat-label>
      <input matInput required [matDatepicker]="dateOfEntry" formControlName="dateOfEntry" >
      <mat-datepicker-toggle matSuffix [for]="dateOfEntry"></mat-datepicker-toggle>
      <mat-datepicker #dateOfEntry></mat-datepicker>
      <mat-hint style="color: red;" *ngIf="ParentFormGroup.get('dateOfEntry').hasError('required')">
        Обязательно
      </mat-hint>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="2">
    <mat-form-field appearance="fill" style="width: 60%" [formGroup]="ParentFormGroup">
      <mat-label>Тип</mat-label>
      <mat-select required formControlName="typeAnimal" >
        <mat-option>--</mat-option>
        <mat-option *ngFor="let bloodBreed of typeAnimal" [value]="bloodBreed">
          {{bloodBreed}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="2"></mat-grid-tile>

  <mat-grid-tile colspan="2" rowspan="2">
    <mat-form-field appearance="fill" style="width: 60%" [formGroup]="ParentFormGroup">
      <mat-label>Окраска кроющего волоса</mat-label>
      <mat-select  formControlName="colorSecondary" >
        <mat-option>--</mat-option>
        <mat-option *ngFor="let color of colorsOfWool" [value]="color">
          {{color}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>


  <mat-grid-tile colspan="2" rowspan="2"><h2>Основная информация</h2></mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="2"></mat-grid-tile>


  <mat-grid-tile colspan="2" rowspan="2">
    <mat-form-field appearance="fill" style="width: 60%" [formGroup]="ParentFormGroup">
      <mat-label>Дополнительная окраска кроющего волоса</mat-label>
      <mat-select formControlName="colorSecondaryOpt" >
        <mat-option>--</mat-option>
        <mat-option *ngFor="let color of colorsOfWool" [value]="color">
          {{color}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>


  <mat-grid-tile colspan="1"
                 rowspan="2">
    <mat-form-field appearance="fill" style="width: 60%" [formGroup]="ParentFormGroup">
      <mat-label>Ферма</mat-label>
      <mat-select  formControlName="farm" >
        <mat-option>--</mat-option>
        <mat-option *ngFor="let farm of farms | async " [value]="farm.id">
          {{farm.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>



  </mat-grid-tile>


  <mat-grid-tile colspan="1"
                 rowspan="2">
    <mat-form-field appearance="fill" style="width: 60%" [formGroup]="ParentFormGroup">
      <mat-label>Отара</mat-label>
      <mat-select formControlName="otara"  >
        <mat-option>--</mat-option>
        <mat-option *ngFor="let otara of otars | async" [value]="otara.id">
          {{otara.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>


  <mat-grid-tile colspan="1"
                 rowspan="2">
  </mat-grid-tile>
  <mat-grid-tile colspan="2"
                 rowspan="2">
    <h2>Кровности</h2>
  </mat-grid-tile>


  <mat-grid-tile colspan="1"
                 rowspan="2">
    <mat-form-field appearance="fill" style="width: 60%" [formGroup]="ParentFormGroup">
      <mat-label>Чабан</mat-label>
      <mat-select  formControlName="chaban" [value]="animal.passport.chaban">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let chaban of chabans | async" [value]="chaban.id">
          {{chaban.FIO}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan="1"
                 rowspan="2">
    <mat-form-field appearance="fill" style="width: 60%" [formGroup]="ParentFormGroup">
      <mat-label>Номер метки</mat-label>
      <input required matInput type="text" formControlName="chipNo">
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="1"
                 rowspan="2">
  </mat-grid-tile>

  <mat-grid-tile colspan="2"
                 rowspan="2" [formGroup]="ParentFormGroup">

    <mat-radio-group aria-label="Группа кровности" formControlName="bloodGroup">
      <mat-radio-button value="1">1 группа</mat-radio-button>
      <mat-radio-button value="2">2 группа</mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="fill" class="ml-2" style="width: 60%" [formGroup]="ParentFormGroup">
      <mat-label>Порода</mat-label>
      <mat-select formControlName="bloodBreeds">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let chaban of bloodBreeds" [value]="chaban">
          {{chaban}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan="3"
                 rowspan="1">
  </mat-grid-tile>
  <mat-grid-tile colspan="2"
                 rowspan="2">
    <mat-form-field class="example-full-width" style="width: 63%" appearance="fill">
      <mat-label>Кровность, %</mat-label>
      <input matInput type="number" min="0" max="1" [(ngModel)]="BloodType" (ngModelChange)="CorrectModel()">

    </mat-form-field>

    <mat-slider
      thumbLabel
      [displayWith]="formatLabel"
      tickInterval="100"
      min="0"
      step="0.01"
      max="1" class="ml-2" [(ngModel)]="BloodType" (ngModelChange)="CorrectModel()"></mat-slider>
  </mat-grid-tile>

  <mat-grid-tile colspan="2" rowspan="2">
    <h2>Выбытие</h2>
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="2">
  </mat-grid-tile>


  <mat-grid-tile colspan="2"
                 rowspan="2">

    <mat-form-field appearance="fill" class="mr-2" style="width: 40%" [formGroup]="ParentFormGroup">
      <mat-label>Способ происхождения</mat-label>
      <mat-select  formControlName="typeOfCreating">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let type of typeOfCreating" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width" style="width: 40%" appearance="fill" [formGroup]="ParentFormGroup">
      <mat-label>Группа крови</mat-label>
      <input formControlName="bloodGroup" matInput type="text">
    </mat-form-field>

  </mat-grid-tile>


  <mat-grid-tile colspan="1"
                 rowspan="2">
    <mat-form-field appearance="fill" [formGroup]="ParentFormGroup">
      <mat-label>Дата выбытия</mat-label>
      <input matInput [matDatepicker]="dateOfLeaving" formControlName="dateOfDisposal" #dateOfLeavingInput>
      <mat-datepicker-toggle matSuffix [for]="dateOfLeaving"></mat-datepicker-toggle>
      <mat-datepicker #dateOfLeaving></mat-datepicker>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="1"
                 rowspan="2">
    <mat-form-field appearance="fill" [formGroup]="ParentFormGroup">
      <mat-label>Причина выбытия</mat-label>
      <input matInput formControlName="reasonOfDisposal" placeholder="-">
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="3"
                 rowspan="2">
  </mat-grid-tile>

  <mat-grid-tile colspan="1"
                 rowspan="2" [formGroup]="ParentFormGroup">
    <mat-checkbox class="" formControlName="isSelling" >Выставлена на продажу</mat-checkbox>

  </mat-grid-tile>


</mat-grid-list>
