.button-add-notification {
}
.right-align {
  bottom: -40px; /* Положение от нижнего края */
  right: 15px;
}
input[type="datetime-local"] {
  border: #3c3737 solid 1px;
  padding: 3px;
}
input.ng-invalid {
 border: #e22d2d solid 2px !important;
}
textarea.ng-invalid {
  border: #e22d2d solid 2px !important;
}
thead {
  position: sticky !important;
  position: -webkit-sticky !important;
  top: 0;

}
