<h2 class="text-center">Фермы</h2>
<mat-form-field appearance="fill">
  <mat-label>Фильтр</mat-label>
  <input #input (keyup)="applyFilter($event.target.value)" matInput>
</mat-form-field>

<button mat-button color="accent" class="mb-2" (click)="createFarm()">Добавить новую ферму <mat-icon class="green">add_circle_outline</mat-icon></button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--Регистрационный номер-->
  <ng-container matColumnDef="regNo">
    <th mat-header-cell *matHeaderCellDef> Рег. номер </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Ферма -->
  <ng-container matColumnDef="farmName">
    <th mat-header-cell *matHeaderCellDef> Ферма </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Адрес -->
  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> Адрес </th>
    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
  </ng-container>

  <!-- Кнопки -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Действия </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button class="" [ngStyle]="{backgroundColor:'#09a9ff', color: 'white'}" (click)="updateFarm(element.id)">Ред. данные</button>
      <button mat-button class="ml-2" [ngStyle]="{backgroundColor:'#d0282e', color: 'white'}" (click)="removeFarm(element.id)">Удалить</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">Нет подходящих записей по фильтру "{{input.value}}"</td>
  </tr>
</table>



<mat-paginator [length]="pages"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 15, 25]"
               (page)="updatePageData($event)"
>
  <button mat-button>Click</button>
</mat-paginator>
