<div class="example-form" >

</div>




<mat-grid-list cols="2" rowHeight="70px" class="mt-2">
  <mat-grid-tile>
    <mat-form-field class="example-full-width">
      <mat-label>Чип отца овцы</mat-label>
      <input type="text" matInput [formControl]="formControlFather" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="OnSelectedOption()">
        <mat-option *ngFor="let option of filteredFatherOptions | async" [value]="option">
          {{option.chipNo}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-form-field class="example-full-width" style="">
      <mat-label>Чип матери овцы</mat-label>
      <input type="text" matInput [formControl]="formControlMother" [matAutocomplete]="auto2" >
      <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn" (optionSelected)="OnSelectedOption()">
        <mat-option  *ngFor="let option of filteredMotherOptions | async" [value]="option">
          {{option.chipNo}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>

  <mat-grid-list cols="6" rowHeight="300px">
  <mat-grid-tile colspan="3">
    <app-sheep-detail-preview [animal]="father"></app-sheep-detail-preview>
  </mat-grid-tile>

  <mat-grid-tile colspan="3">
    <app-sheep-detail-preview [animal]="mother"></app-sheep-detail-preview>
  </mat-grid-tile>



</mat-grid-list>

<!--<app-sheep-detail-preview [animal]="father"></app-sheep-detail-preview>-->
<!--<app-sheep-detail-preview [animal]="mother"></app-sheep-detail-preview>-->
