<div class="container">
  <button class="btn btn-info" routerLink="/journal/chabans/">Назад</button>

  <form class="example-form" [formGroup]="form" (ngSubmit)="Submit($event)" *ngIf="pending == false; else loading">
    <h2 class="text-center" *ngIf="route.snapshot.queryParams.create == 'false'; else creating ">Редактор чабана
      id:{{ChabanInfo.id}}</h2>
    <ng-template #creating><h2 class="text-center">Добавление нового чабана</h2></ng-template>
    <mat-form-field class="example-full-width mt-3" appearance="fill">
      <mat-label>ФИО чабана</mat-label>
      <input matInput placeholder="ФИО" formControlName="FIO" value="{{ChabanInfo.FIO}}">
      <mat-error *ngIf="form.get('FIO').errors?.required">
        Обязательно
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Дата рождения</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="birthday">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
      <mat-error *ngIf="form.get('birthday').errors?.required">
        Обязательно
      </mat-error>
    </mat-form-field>

    <h2 class="text-center mt-2">Фермы</h2>

    <mat-form-field style="width: 80%" class="mt-3">
      <mat-label>Assignee</mat-label>
      <input type="text" #input matInput [formControl]="autoCompleteControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                        (optionSelected)="ChangeOption($event.option)">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.name}}, г. {{ option.city}}
        </mat-option>
      </mat-autocomplete>

    </mat-form-field>
    <button class="btn btn-primary ml-3" style="width: 15%" (click)="$event.preventDefault(); AddFarm()">Добавить</button>

    <div class="scroll">
      <mat-card *ngFor="let info of ChabanInfo.farm; let idx = index" class="mt-4">
        <mat-card-actions align="start">
          <h1 class="text-center" >{{info.name}}          <button class="btn btn-danger float-right" (click)="$event.preventDefault(); RemoveControl(info._id)">-</button>
          </h1>
          <div class="row">
            <div class="col-3"></div>
            <div class="col-3">
              <span class="ml-3">Город: {{info.city}}</span>
            </div>

            <div class="col-4">
            <span class="ml-4">Адресс: {{info.address}}</span>
            </div>
          </div>

        </mat-card-actions>


      </mat-card>
    </div>


    <div class="text-center">
      <button type="submit" class="btn btn-primary justify-content-center mt-2" [disabled]="pending || form.invalid">
        Save
      </button>
    </div>
  </form>


  <ng-template #loading>
    <div class="text-center">Загружаем</div>
    <mat-progress-bar class="mt-3" mode="indeterminate"></mat-progress-bar>
  </ng-template>

</div>
